{% extends 'base.html.twig' %}

{% block title %}
    Edit a mission
{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    <h1 class="p-2 mt-4">Editing the mission "{{ mission.title }}" : <span style="font-size: 0.8em; font-weight: 300">{{mission.startDate }} - {{ mission.endDate }}</span> </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-success m-3" type="submit">Send</button>

    {% include '_cancelBtn.html.twig' %}
    {{ form_end(form) }}

{% endblock %}