{% extends 'missions/index.html.twig' %}


{% block title %}
    {{ hideout.address }}
{% endblock %}

{% block body %}

    {% include "_header.html.twig" %}

    <h1 class="p-2 mt-4">{{ hideout.address }}</h1>

    <table class="table table-hover table-responsive text-justify align-middle mx-5" style="max-width:40em">
        <tbody>
        <tr>
            <th>Type</th>
            <td>{{ hideout.type }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ hideout.country }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ hideout.address }}</td>
        </tr>
        <tr>
            <th><a href="{{ path('app.home') }}" style="color: black">Missions</a></th>
            <td>
                {% for mission in hideout.missions %}
                    <a href="{{ path('mission_details', {'id': mission.id}) }}">
                        {{ mission.title }} <br>
                    </a>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    {% include '_signInBtn.html.twig' %}

    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-md btn-success ms-5 mb-5">
            <a href="{{ path('hideout_add') }}" style="color: white; text-decoration: none">
                Add an hideout
            </a>
        </button>
        <button class="btn btn-md btn-warning mx-1 mb-5">
            <a href="{{ path('hideout_update', {'id': hideout.id}) }}" style="color: white; text-decoration: none">
                Edit "{{ hideout.address }}"
            </a>
        </button>
        <button class="btn btn-md btn-danger mx-1 mb-5">
            <a href="{{ path('hideout_delete', {'id': hideout.id}) }}" style="color: white; text-decoration: none">
                Delete "{{ hideout.address }}"
            </a>
        </button>
    {% endif %}
{% endblock %}