{% extends 'base.html.twig' %}

{% block title %}
    Edit a contact
{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    <h1 class="p-2 mt-4">Editing "{{ contact.codeName }}" : <span style="font-weight: 300">{{ contact.firstName }} {{ contact.lastName }}</span> </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success m-3" type="submit">Send</button>

    {% include '_cancelBtn.html.twig' %}

    {{ form_end(form) }}

{% endblock %}